body
{
  background-color:#000000;
  color:#00FF00;
  font-family: "Andale Mono";
  font-size: 24px;
}
canvas
{
  background-color:black;
}
th
{
  padding: 15px 20px;
  width: 200px;
}
table,td,th
{
  border: 1px solid #00FF00;
  border-collapse: collapse;
}
a
{
  width: auto;
  text-align: center;
  border: 1px solid #00FF00;
  padding: 20px;

  color: #00FF00;
  text-decoration: none;
}
a:hover,a:active
{
  border: 3px solid #00FF00;
  padding: 18px;
}

.center
{
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  display:block;
  border: 1px solid #00FF00;
}
.res
{
  display:none;
}

#title
{
  margin-top: 20px;
  text-align: center; 
  font-size: 32px;
}
#subtitle
{
  text-align: center; 
  font-size: 16px;
}
